@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e0eef3;
  font-family: "Roboto", sans-serif;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  height: 35px;
  width: 165px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 40px;
}

li {
  margin-top: 15px;
}

button {
  height: 30px;
  width: 60px;
  background-color: #1b0fff;
  color: white;
  font-size: 1.05rem;
  margin-top: 10px;
  cursor: pointer;
}